* {
    box-sizing: border-box;
  }
  
body{ 
    background-color: rgb(223, 233, 229); 
    font-size: 13px;
    font-weight: 600;
    font-family:Barlow Semi Condensed;
   }

main{
    border: 2px ;
    width: 800px;
    margin: 95px auto;
    padding: 5px;
    color: hsl(210, 46%, 95%);
}

.wrapper{
    display:grid;
    grid-template-columns:1fr 1fr 1fr 1fr;
    grid-auto-rows:minmax(50px, auto);
    grid-gap:1.5em;
}

img{
    border: 2px solid hsl(262, 46%, 56%);
    border-radius: 50%;
    width: 25px;
    height: 25px;
}

h6{
    display: inline-block;
    top: -5px;
    position: relative;
    margin-left: 10px;
    margin-bottom: 0px;
}

p{
    margin-top: 10px;
}

.container{
    display: block;
    font-size: 10px;
    font-weight:500;
    color: hsl(0, 0%, 70%);
}

.wrapper article:nth-child(1),article:nth-child(2),article:nth-child(3),article:nth-child(4),article:nth-child(5){
    padding: 15px 25px;
    border-radius: 10px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
} 

.wrapper article:nth-child(1){
    background-color: hsl(263, 55%, 52%);
    background-image:url("../images/bg-pattern-quotation.svg");
    background-repeat: no-repeat;
    background-size: 80px;
    background-position-x: 250px;
    grid-column: 1/3;
    grid-row: 1;
}

.wrapper article:nth-child(2){
    background-color: hsl(217, 19%, 35%);
}

.wrapper article:nth-child(3){
    background-color: hsl(240, 20%, 99%);
    grid-column:4;
    grid-row: 1/3;
    color: hsl(219, 29%, 14%);
}

.wrapper article:nth-child(4){
    background-color: hsl(219, 29%, 14%);
    grid-column: 2/4;
    grid-row: 2;
}

.wrapper article:nth-child(5){
    background-color: hsl(240, 20%, 99%);
    color: hsl(219, 29%, 14%);
}

.attribution { 
    font-size: 11px; text-align: center; 
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}